# Google C/C++ Code Style Settings

Language: Cpp
BasedOnStyle: Google
Standard: c++20
UseTab: Never
ColumnLimit: 180

# Additional
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All

InsertBraces: true
ExperimentalAutoDetectBinPacking: true
SortIncludes: false